<% if user_signed_in? %>
 <div class="banner" >
    <div class="banner-content">
      <h1>New Best Product</h1><br><br><br>
      <h2>Contactory</h2><br>
      <%= link_to "GET IT", "http://contactory.co", class: "btn btn-warning btn-lg" %>
    </div>
  </div>







<% else %>
  <div class="banner" >
    <div class="banner-content">
      <h1>PROCESS HUNT</h1>
      <p>FIND BEST ENGINEERING TOOLS</p>
      <%= link_to "GET IT", new_user_registration_path, class: "btn btn-warning btn-lg" %>
    </div>
  </div>
<% end %>